<div>
    <h1>Алгоритъм</h1>

    <div>
        <div>
            <p>
                Картинката показва етапите, през които преминава алгоритъмът на CSMA/CA.
            </p>

            <div class="row">

                <div class="col-md-6">
                    <img class="img-responsive img-rounded img-thumbnail" src="images/CSMA-CA-Procedure.jpg"/>
                </div>
                <div class="col-md-6">
                    <ol>
                        <li>Станцията е готова за предаване, като проверява линиите с една от най-устойчивите стратегии.
                        </li>
                        <li>Веднага след като се намери линията да бъде празна, станцията изчаква за IFG период от
                            време.
                        </li>
                        <li>След което се чака за случайно време и изпраща рамката.</li>
                        <li>След изпращането на рамката, тя определя таймер и чака за потвърждение от приемника.</li>
                        <li>Ако потвърждението е получено преди изтичането на таймера, тогава предаването е успешно.
                        </li>
                        <li>Но ако предавателната станция не получи очакваното потвърждение преди изтичането на таймера,
                            тогава стойността на връщащия параметър, изчаква отново периода за връщане и преустановява
                            линията.
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <a href="#/work"><img class="nav-button" src="images/prev.png" alt="previous page"/></a>
        </div>
        <div class="pull-right">
            <a href="#/usage"><img class="nav-button" src="images/next.png" alt="next page"/></a>
        </div>
    </div>
</div>
