<div>
    <h1>Същност</h1>

    <div>
        <img class="img-responsive img-rounded" src="images/tech_wireless.png" alt="схема"/>

        <p><strong>CSMA/CA</strong> е съкращение от <em>Carrier-Sense Multiple Access with Collision Avoidance</em> –
            множествен достъп с откриване на носеща(честота) и избягване на колизиите. Методът е подобен на CSMA/CD
            (засича колизиите), но вместо само да се установи наличието на колизия, се прави опит тя да бъде избегната.
            Всяка станция предава сигнал за „намерение“ за предаване <strong>(Request To Send)</strong> преди самото
            предаване на данните по канала. Така този сигнал може да влезе в конфликт, но няма да има загуба на данни,
            защото все още не е изпратена значимата информация. Въпреки, че методът позволява да се избегнат колизиите,
            това става за сметка на тончо тези допълнителни сигнали, които намаляват производителността на мрежата.
            Методът <strong>CSMA/CA</strong> е по-бавен от <strong>CSMA/CD</strong>, но по-сигурен.</p>
    </div>
    <div class="clearfix">
        <div class="pull-right">
            <a href="#/work"><img class="nav-button" src="images/next.png" alt="next page"/></a>
        </div>
    </div>
</div>
