<ul class="breadcrumb">
    <li><a href="../index.html">Начало</a></li>
    <li class="active">CSMA/CA</li>
    <li class="active">Същност</li>
</ul>
<div class="container">
    <h1>Същност</h1>

    <div class="text-center">
        <img class="img-responsive img-rounded img-thumbnail" src="../images/G0169_CSMACA.jpg" alt="схема"/>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p>CSMA/CA е съкращение от Carrier-Sense Multiple Access with Collision Avoidance – множествен достъп с
                откриване на носеща и извягване на колизиите. Методът е подобен на CSMA/CD, но вместо само да се
                установи наличието на колизия, се прави опит тя да бъде избегната, като всяка станция предава сигнал
                за „намерение“ за предаване преди самото предаване на данните по канала. Въпреки, че методът
                позволява да се избегнат колизиите, това става за сметка на допълнителни сигнали. Методът CSMA/CA е
                по-бавен от CSMA/CD – използва се в мрежите Apple и др.</p>
        </div>
    </div>
</div>
