<div>
    <h1>Полезни връзки</h1>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/Carrier_sense_multiple_access_with_collision_avoidance"
               target="_blank">
            <strong>Wikipedia</strong>
            <img class="img-link" src="images/read.png" alt="read"/>
        </a>
        </li>
        <li>
            <a href="http://cnp3book.info.ucl.ac.be/1st/html/lan/lan.html" target="_blank">
                <strong>cnp3book</strong>
                <img class="img-link" src="images/read.png" alt="read"/>
            </a>
        </li>
        <li>
            <a href="http://thought1.org/nt100/module5/csma__ca.html" target="_blank">
                <strong>thought1</strong>
                <img class="img-link" src="images/read.png" alt="read"/>
            </a>
        </li>
        <li>
            <a href="http://ecomputernotes.com/computernetworkingnotes/multiple-access/carrier-sense-multiple-access-with-collision-avoidance"
               target="_blank">
                <strong>computernotes</strong>
                <img class="img-link" src="images/read.png" alt="read"/>
            </a>
        </li>
        <li>
            <a href="http://www.hill2dot0.com/wiki/index.php?title=CSMA/CD#CSMA.2FCA" target="_blank">
                <strong>hill2dot0</strong>
                <img class="img-link"  src="images/read.png" alt="read"/>
            </a>
        </li>

        <li>
            <a href="https://www.youtube.com/watch?v=RKkxKG5usaw" target="_blank">
                <strong>CSMA/CA</strong> - <em>Shashank Tadakamadla</em>
                <img class="img-link"  src="images/video.png" alt="video"/>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=-f_Hk1RpmN4" target="_blank">
                <strong>Lecture 14 CSMA CA</strong> - <em>Vinayak Naik</em>
                <img class="img-link" src="images/video.png" alt="video"/>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=vUiGwyE9LCc" target="_blank">
                <strong>Understanding CSMA/CD and CSMA/CA</strong> - <em>Professor Messer</em>
                <img class="img-link"  src="images/video.png" alt="video"/>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=k0CHAY6e_sg" target="_blank">
                <strong>CSMA/CD vs CSMA/CA</strong> - <em>Ted Washabaugh</em>
                <img class="img-link"  src="images/video.png" alt="video"/>
            </a>
        </li>
    </ul>
    <div class="clearfix">
        <div class="pull-left">
            <a href="#/videos"><img class="nav-button" src="images/prev.png" alt="previous page"/></a>
        </div>
    </div>
</div>