<div class="container">
    <ul class="breadcrumb">
        <li><a href="../../index.html">Начало</a></li>
        <li class="active">CSMA/CA</li>
        <li class="active">Приложение</li>
    </ul>

    <h1>Приложение</h1>
    <dl>
        <dt>GNET</li>
        <dd>-LAN протокол</dd>

        <dt><a href="http://en.wikipedia.org/wiki/LocalTalk" target="_blank">AppleTalk/LocalTalk</a></li>
        <dd>- Мрежите AppleTalk/LocaSTalk използват метода CSMA/CA за контрол на достъпа до преносната среда.
            Най-често се използват кабели STP, но е възможно също да се използва UTP кабел или оптичен кабел.
            Мрежовата топология представлява шина или дърво, a LocalTalk мрежата (използваща Apple компоненти) е
            ограничена до 32 възела.
        </dd>

        <dt><a href="http://en.wikipedia.org/wiki/IEEE_802.11_RTS/CTS" target="_blank">802.11 RTS/CTS</a></dt>
        <dd></dd>

        <dt><a href="http://en.wikipedia.org/wiki/IEEE_802.15.4" target="_blank">IEEE 802.15.4</a></dt>
        <dd></dd>

        <dt><a href="http://en.wikipedia.org/wiki/WaveLAN" target="_blank">NCR WaveLAN </a></dt>
        <dd></dd>

        <dt><a href="http://en.wikipedia.org/wiki/HomePNA" target="_blank">HomePNA</a></dt>
        <dd></dd>

        <dt>Bus networks</dt>
        <dd></dd>

        <dt><a href="http://en.wikipedia.org/wiki/ITU-T" target="_blank">ITU-T G.hn стандарт</a></dt>
        <dd>Осигурява начин за създаване на високскоростна локална мрежа използвайки налично окабеляване. Той
            изпозва CSMA/CA като канал за достъп на потоци, които не изискват допълнителни гаранции за качеството на
            услугите.
        </dd>
    </dl>
</div>
