<div>
    <h1>Приложение</h1>
    <img class="img-responsive img-rounded img-thumbnail" src="images/usage.jpg"/>

    <div>
        <dl>
            <dt>GNET</li>
            <dd>LAN протокол</dd>

            <dt><a href="http://en.wikipedia.org/wiki/LocalTalk" target="_blank">AppleTalk/LocalTalk</a></li>
            <dd>Мрежите AppleTalk/LocaSTalk използват метода CSMA/CA за контрол на достъпа до преносната среда.
                Най-често се използват кабели STP, но е възможно също да се използва UTP кабел или оптичен кабел.
                Мрежовата топология представлява шина или дърво, a LocalTalk мрежата (използваща Apple компоненти) е
                ограничена до 32 възела.
            </dd>

            <dt><a href="http://en.wikipedia.org/wiki/IEEE_802.11_RTS/CTS" target="_blank">802.11 RTS/CTS</a></dt>
            <dd>Имплементира <strong>CSMA/CA</strong> като използва кракти съобщения за WLANs.</dd>

            <dt><a href="http://en.wikipedia.org/wiki/IEEE_802.15.4" target="_blank">IEEE 802.15.4</a></dt>
            <dd>Стандарт за спецификация на физическия слой и управлението и достъпването на медия за нискорейтови
                безжични персонални мрежи <strong>(LR-WPANs)</strong>.
            </dd>

            <dt><a href="http://en.wikipedia.org/wiki/WaveLAN" target="_blank">NCR WaveLAN </a></dt>
            <dd>Безжичен мрежов протокол.</dd>

            <dt><a href="http://en.wikipedia.org/wiki/HomePNA" target="_blank">HomePNA</a></dt>
            <dd>Нестопанска асоциация на производителите на фирми, която разработва и стандартизира технология за
                домашни мрежи над съществуващите кабелни и телефонни мрежи в домовете.
            </dd>

            <dt><a href="http://en.wikipedia.org/wiki/ITU-T" target="_blank">ITU-T G.hn стандарт</a></dt>
            <dd>Осигурява начин за създаване на високскоростна локална мрежа използвайки налично окабеляване. Той
                изпозва CSMA/CA като канал за достъп на потоци, които не изискват допълнителни гаранции за качеството на
                услугите.
            </dd>
        </dl>
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <a href="#/algorithm"><img class="nav-button" src="images/prev.png" alt="previous page"/></a>
        </div>
        <div class="pull-right">
            <a href="#/versus-cd"><img class="nav-button" src="images/next.png" alt="next page"/></a>
        </div>
    </div>
</div>
