<div>
    <h1>Видео уроци</h1>

    <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-f_Hk1RpmN4"></iframe>
                    </div>
                </div>
                <!-- End Item -->

                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vUiGwyE9LCc"></iframe>
                    </div>
                </div>
                <!-- End Item -->

                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/k0CHAY6e_sg"></iframe>
                    </div>
                </div>
                <!-- End Item -->

                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/RKkxKG5usaw"></iframe>
                    </div>
                </div>
                <!-- End Item -->

            </div>
            <!-- End Carousel Inner -->

            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active">
                    <h4>
                        <strong>CSMA/CA</strong> - <em>Shashank Tadakamadla</em>
                    </h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="1">
                    <h4>
                        <strong>Lecture 14 CSMA CA</strong> - <em>Vinayak Naik</em>
                    </h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="2">
                    <h4>
                        <strong>Understanding CSMA/CD and CSMA/CA</strong> - <em>Professor Messer</em>
                    </h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="3">
                    <h4>
                        <strong>CSMA/CD vs CSMA/CA</strong> - <em>Ted Washabaugh</em>
                    </h4>
                </li>
            </ul>
        </div>
        <!-- End Carousel -->
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <a href="#/versus-cd"><img class="nav-button" src="images/prev.png" alt="previous page"/></a>
        </div>
        <div class="pull-right">
            <a href="#/resources"><img class="nav-button" src="images/next.png" alt="next page"/></a>
        </div>
    </div>
</div>