<div class="container">
    <ul class="breadcrumb">
        <li><a href="../../index.html">Начало</a></li>
        <li class="active">Видео уроци</li>
    </ul>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/RKkxKG5usaw"></iframe>
            </div>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-f_Hk1RpmN4"></iframe>
            </div>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/vUiGwyE9LCc"></iframe>
            </div>
        </div>
    </div>
</div>