<div>
    <h1>Как работи</h1>

    <h2>CSMA/CA пропуска колизиите като използва три базови техники:</h2>
    <hr/>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <ol>
                <li>
                    <a ng-click="goToInterframe()">Interframe space</a>
                </li>
                <li>
                    <a ng-click="goToContention()">Contention window</a>
                </li>
                <li>
                    <a ng-click="goToAcknowledgement()">Acknowledgement</a>
                </li>
            </ol>
        </div>
    </div>
    <hr/>
    <div class="text-center">
        <img class="img-responsive img-rounded img-thumbnail" src="images/CSMA-CA.jpg"/>
    </div>
    <div>
        <h3 id="interframe-space">1. Interframe space</h3>

        <p>
            Всеки път, когато е намерен празен канал, станцията не предава веднага. Изчаква се за определен
            период от време наречен interframe space <strong>(IFS)</strong>. При ситуация, в която каналът е намерен
            празен е възможно текущата станция да е започнала да предава и сигналът да не е достигнал останалите
            станции. Ето защо целта на <strong>IFS</strong> е да осигури време на сигнала да достигне до крайните точки.
            Ако след това време каналът е все още празен, станцията може да изпраща, но все още е необходимо да се
            изчака известно време. <strong>IFS</strong> може да се използва за определяне на приоритета на станция или
            рамка.
        </p>
    </div>
    <hr/>
    <div>
        <h3 id="contention-window">2. Contention window</h3>

        <p>
            Представлява период от време разделен на слотове. Всяка станция, която е готова за изпращане избира
            произволен брой слотове като нейно време за изчакване. Броят на слотовете в прозореца се променя съобразно
            с двоичната експоненциална стратегия. Това означава, че той е настроен на един слот за първи път и след това
            се удвоява всеки път, като станцията не може да засече празен канал след IFS. Тук станцията трябва да
            провери канала след всеки интервал от време. Ако станцията намира зает канал, не се рестартира процеса, той
            просто спира таймера и го рестартира, когато каналът се изпразни.
        </p>
    </div>
    <hr/>
    <div>
        <h3 id="acknowledgement"> 3. Acknowledgement</h3>

        <p>
            Въпреки всички предпазни мерки, колизии могат да се появят и да унищожат данните. Затова се използва като
            последна мярка положителното потвърждение <strong>(Acknowledgement)</strong>. След неговото получаване се
            спира таймера и така се гарантира, че приемника е получил пратката и всички данни са били изпратени успешно.
        </p>
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <a href="#/intro"><img class="nav-button" src="images/prev.png" alt="previous page"/></a>
        </div>
        <div class="pull-right">
            <a href="#/algorithm"><img class="nav-button" src="images/next.png" alt="next page"/></a>
        </div>
    </div>
</div>
