<!doctype html>
<html lang="en" ng-app="myApp" >
<head>
    <meta charset="UTF-8">
    <title>CSMA/CA</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="shortcut icon" type="image/ico" href="images/internet.ico">
</head>
<body ng-cloak>
<div id="wrapper">
    <div id="cssmenu">
        <ul ng-controller="IndexController">
            <li class="active" ng-click="activate($event)"><a href="#/">Начало</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">CSMA/CA <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-click="activate($event)"><a href="#/intro">Същност</a></li>
                    <li ng-click="activate($event)"><a href="#/work">Как работи</a></li>
                    <li ng-click="activate($event)"><a href="#/algorithm">Алгоритъм</a></li>
                    <li ng-click="activate($event)"><a href="#/usage">Приложение</a></li>
                </ul>
            </li>
            <li ng-click="activate($event)"><a href="cd.html">Сравнение със CSMA/CD</a></li>
            <li ng-click="activate($event)"><a href="#/videos">Видео уроци</a></li>
            <li ng-click="activate($event)"><a href="#/resources">Полезни връзки</a></li>
        </ul>
    </div>
    <div ng-view>
    </div>

    <hr />
    <footer class="text-center" ng-cloak>
        <strong>Copyright:</strong> <a href="https://github.com/nikolay-radkov/CSMAca" target="_blank">Nikolay Radkov</a></small>
        <br />
        Powered by:</strong> <a href="http://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></small>
    </footer>
    <hr />
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>

<script src="js/app.js"></script>

<script src="js/controllers/home-controller.js"></script>
<script src="js/controllers/intro-controller.js"></script>
<script src="js/controllers/videos-controller.js"></script>
<script src="js/controllers/algorithm-controller.js"></script>
<script src="js/controllers/usage-controller.js"></script>
<script src="js/controllers/work-controller.js"></script>
<script src="js/controllers/resources-controller.js"></script>
<script src="js/controllers/index-controller.js"></script>
<script src="js/index.js"></script>




</body>
</html>